@{
    ViewData["Title"] = "About";
}

<!-- Adoption -->
<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <h3><span>About us</span></h3>
            <p>That's out team.</p>
        </div>
    </div>
</div>
<!-- Adoption end -->
<!-- Staff -->
<div class="staff" data-stellar-background-ratio=".3" style="background-position: 0px 3px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 member">
                <div data-stellar-ratio="1.2" data-stellar-vertical-offset="150" data-stellar-horizontal-offset="0" style="top: 0px;">
                    <span>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="facebook"></a>
                        <img src="/images/profile1.png" alt="">
                    </span>
                    <h4>Marek Popkowicz</h4>
                    <p>Our inventor.<br>He is always keen to grab a beer <i class="fa fa-beer"></i>.</p>
                </div>
            </div>
            <div class="col-md-4 member">
                <div data-stellar-ratio="1.2" data-stellar-vertical-offset="150" data-stellar-horizontal-offset="0" style="top: 0px;">
                    <span>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="facebook"></a>
                        <img src="/images/profile2.png" alt="">
                    </span>
                    <h4>Adam Kunicki</h4>
                    <p>Back-end developer.<br />Swims to work everyday. Really.</p>
                </div>
            </div>
            <div class="col-md-4 member">
                <div data-stellar-ratio="1.2" data-stellar-vertical-offset="150" data-stellar-horizontal-offset="0" style="top: 0px;">
                    <span>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="facebook"></a>
                        <img src="/images/profile3.png" alt="">
                    </span>
                    <h4>Krzysztof Wójcicki</h4>
                    <p>Front-end developer.<br>Drinks hell of a lot of coffee <i class="fa fa-coffee"></i>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Staff end -->