@{
    ViewData["Title"] = "Diet";
}

<!-- Adoption -->
<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <h3><span>Diet</span></h3>
            <p>Our pets eats only what is the best out there.</p>
        </div>
    </div>
</div>
<!-- Adoption end -->
<!-- Staff -->
<div class="staff" data-stellar-background-ratio=".3" style="background-position: 0px 3px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 member">
                <div data-stellar-ratio="1.2" data-stellar-vertical-offset="150" data-stellar-horizontal-offset="0" style="top: 0px;">
                    <span>
                        <img src="/images/diet1.png" alt="">
                    </span>
                    <h4>Meat!</h4>
                    <p>It gives them strenth.</p>
                </div>
            </div>
            <div class="col-md-4 member">
                <div data-stellar-ratio="1.2" data-stellar-vertical-offset="150" data-stellar-horizontal-offset="0" style="top: 0px;">
                    <span>
                        <img src="/images/diet3.png" alt="">
                    </span>
                    <h4>Fresh fruits!</h4>
                    <p>It gives them vitamins.</p>
                </div>
            </div>
            <div class="col-md-4 member">
                <div data-stellar-ratio="1.2" data-stellar-vertical-offset="150" data-stellar-horizontal-offset="0" style="top: 0px;">
                    <span>
                        <img src="/images/diet2.png" alt="">
                    </span>
                    <h4>Cookies!</h4>
                    <p>So they can have something from live too.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Staff end -->