@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider -->
<div id="home_carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#home_carousel" data-slide-to="0" class=""></li>
        <li data-target="#home_carousel" data-slide-to="1" class="active"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/2.png" alt="">
            <div class="carousel-caption">
                <h2>Help us to feed the dogs.</h2>
                <p>It is really easy.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/3.png" alt="">
            <div class="carousel-caption">
                <h2>Firstly, find your favourite dog.</h2>
                <p>There is a lot of them.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/2.png" alt="">
            <div class="carousel-caption">
                <h2>Secondly, click the bone.</h2>
                <p>Your click will be counted as vote.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/2.png" alt="">
            <div class="carousel-caption">
                <h2>That's all!</h2>
                <p>Sponsor will pay for the meal, when required votes count will be collected.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/3.png" alt="">
            <div class="carousel-caption">
                <h2>Oh, wait.</h2>
                <p>If you would like to become sponsor please contact us.</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="http://www.klevermedia.co.uk/assets/petcare/index.html#home_carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="http://www.klevermedia.co.uk/assets/petcare/index.html#home_carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<!-- Slider end -->
<!-- Services -->

<div class="container" id="services">
    <div class="row">
        <div class="col-md-12 centered">
            <h3><span>Comments</span></h3>
            <p>Here are some comments left by dogs which we have helped!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col3 dog">
            <span><img src="/images/thanks1.png" alt=""></span>
            <h3>Sissy</h3>
            <p>Wow. Such help. Wow. So stuffed.</p>
        </div>

        <div class="col-md-4 col3 dog">
            <span><img src="/images/thanks2.png" alt=""></span>
            <h3>Rudi</h3>
            <p>Wow. Such many. Wow. So food.</p>
        </div>

        <div class="col-md-4 col3 dog">
            <span><img src="/images/thanks3.png" alt=""></span>
            <h3>Bon Jovi</h3>
            <p>Wow. Such happy. Wow. So yammy.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 centered">
            <h3><span>This are only examples.</span></h3>
            <p>There is much more dogs like that. Also you can help.</p>
        </div>
        <div class="col-md-12 centered"><p></p></div>
    </div>
</div>
<!-- Services end -->